# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/


*.xcuserstate

DARPFlickrAroundYou/DARPFlickrAroundYou.xcodeproj/xcuserdata/darth.xcuserdatad/xcschemes/xcschememanagement.plist

DARPFlickrAroundYou/DARPFlickrAroundYou.xcodeproj/xcuserdata/darth.xcuserdatad/xcschemes/DARPFlickrAroundYou.xcscheme

DARPFlickrAroundYou/DARPFlickrAroundYou.xcodeproj/project.xcworkspace/xcuserdata/darth.xcuserdatad/UserInterfaceState.xcuserstate

DARPFlickrAroundYou/DARPFlickrAroundYou.xcodeproj/project.xcworkspace/xcshareddata/DARPFlickrAroundYou.xccheckout
